*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.plantilla {
  display: grid;
  grid-template-areas:
    "header header"
    "menu contenido"
    "footer footer";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
}

.header {
  grid-area: header;
  background: #2196F3;
  display: flex;
  justify-content: space-between;
}

.menuLateral {
  grid-area: menu;
  background: #4CAF50;
}

.contenido {
  grid-area: contenido;
  background: #f1f1f1;
}

.footer {
  grid-area: footer;
  background: #333;
  color: white;
}


