*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    /* margin: 100px 100px; */
    background-color: lightblue;
    width: 100%;
    height: 100vh;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    display: grid;

}

.item1:nth-child(1) {
    background-color: red;
    width: 100%;
    height: 100%;
    /* grid-column: 1 / 3; */
    /* grid-row: 1 / 3; */
    grid-area: uno;
}